.flex1 {
    display: flex;
    border: solid black;
}

.flex_c1 {
    width: 100%;
    height: 40px;
    background-color: cornflowerblue;
    border: solid blue;
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
    border: solid black;
}


.content_small {
    border: solid blue;
    flex-grow: 1;
    text-align: center;
    background-color: cornflowerblue;
}

div.content {
    border: solid blue;
    flex-grow: 2;
    background-color: cornflowerblue;
    text-align: center;
}

.main {
    display: flex;
    height: 300px;
    border: 1px solid gray;
}

.left {
    border-right: 1px solid #ccc;
}

.section3 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.lorem {
    width: 100%;
}

.circle {
    background-color: cornflowerblue;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* <exe4> */
.main4 {
    display: flex;
    height: 300px;
    border: 5px solid rgb(221, 159, 164);
}

.left4 {
    border-right: 5px solid rgb(221, 159, 164);
}

.section4.right4 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section4.left4 {
    border-right: 5px solid rgb(221, 159, 164);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.lorem4 {
    width: 100%;
}

.line1 {
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(221, 159, 164);
    width: 100px;
    height: 20px;
    border-radius: 5px;
    margin: 10px;
}

.line2 {
    background-color: rgb(221, 159, 164);
    width: 100px;
    height: 20px;
    border-radius: 5px;
    margin: 10px;
}

.line3 {
    background-color: rgb(221, 159, 164);
    width: 70px;
    height: 20px;
    border-radius: 5px;
    margin: 10px;
}

/* exe5 */
.main5 {
    background-color: rgb(214, 213, 213);
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.lorem5 {
    padding: 10px;
}

.Square_big {
    background-color: rgb(19, 98, 163);
    width: 200px;
    height: 200px;
    border-radius: 5px;
    padding: 10px;
    border: 5px solid rgb(214, 213, 213);
}

.Square {
    background-color: rgb(19, 98, 163);
    width: 100px;
    height: 100px;
    border: 5px solid rgb(214, 213, 213);
    /* border-radius: 5px solid white; */
    padding: 10px;
}

.left5 {
    display: flex;
}

.SquareUp {
    display: flex;

}

.SquareDown {
    display: flex;
}

/* exe6 */
.main6 {
    width: 600px;
    height: 600px;
    /* display: flex; */
    border: 5px solid rgb(185, 86, 86);
}

.up6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circle6 {
    background-color: rgb(221, 159, 164);
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.Rectangle {
    background-color: rgb(221, 159, 164);
    width: 50px;
    height: 20px;
    border-radius: 10%;
    padding: 10px;
}

.down6 {
    display: flex;
    flex-direction: row;
    border: 5px solid rgb(221, 159, 164);
    flex-grow: 2;
}