.flex1 {
    display: flex;
    border: solid black;
}

.flex_c1 {
    width: 100%;
    height: 40px;
    background-color: cornflowerblue;
    border: solid blue;
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
    border: solid black;
}


.content_small {
    border: solid blue;
    flex-grow: 1;
    text-align: center;
    background-color: cornflowerblue;
}

div.content {
    border: solid blue;
    flex-grow: 2;
    background-color: cornflowerblue;
    text-align: center;
}

.main {
    display: flex;
    height: 300px;
    border: 1px solid gray;
}

.left {
    border-right: 1px solid #ccc;
}

.section3 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.lorem {
    width: 100%;
}

.circle {
    background-color: cornflowerblue;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.main4 {
    display: flex;
    height: 300px;
    border: 5px solid rgb(221, 159, 164);
}

.left4 {
    border-right: 5px solid rgb(221, 159, 164);
}

.section4 {
    flex: 0.2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.lorem4 {
    width: 100%;
}

.line4 {
    background-color: rgb(221, 159, 164);
    width: 150px;
    height: 150px;
    border-radius: 5px;
}