#container {
    display: flex;
    height: 100px;
}

#div1 {
    width: calc(100% - 20px);
    background-color: rgb(211, 90, 181);
}

#div2 {
    width: 20px;
    background-color: rgb(112, 8, 86);
}

#container2 {
    display: flex;
    height: 100px;
    width: 40%;
    background-color: hotpink;
}

#div2_1 {
    width: calc(100% - 33.3%);
    border: 3px solid rgb(39, 3, 3);
}

#div2_2 {
    width: calc(100% - 33.3%);
    border: 3px solid rgb(39, 3, 3);
}

#div2_3 {
    width: calc(100% - 33.3%);
    border: 3px solid rgb(39, 3, 3);
}