.blue {
    background-color: rgb(16, 16, 202);
    margin: auto;
    width: 150px;
    height: 150px;
    position: relative;
    border: 5 solid black;
}

.redO {
    background-color: red;
    width: 150px;
    height: 5px;
    position: absolute;
    top: 20px;
}

.redV {
    background-color: red;
    width: 5px;
    height: 150px;
    position: absolute;
    left: 20px;
}