.parent {
    margin: auto;
    width: 50%;
    position: relative;
}

img {
    width: 100%;
}

#BotomRight {
    position: absolute;
    bottom: 5px;
    right: 0;
}

#BotomLeft {
    position: absolute;
    bottom: 5px;
    /* left: 0; */
}

#TopRight {
    position: absolute;
    top: 0;
}

#TopLeft {
    position: absolute;
    top: 0;
    right: 0;
}