* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 100%;
}

/* mobile */
@media (max-width: 600px) {
    img {
        width: 100%;
    }
}

/* Tablet */
@media (min-width: 600px) and (max-width: 900px) {
    img {
        width: 50%;
    }
}

/* desktop */
@media (min-width: 900px) {
    img {
        width: calc(100%/3);
    }
}